.rmdp-wrapper {
  width: 100% !important;
}

.rmdp-calendar {
  width: 100% !important;
  padding: 1rem;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: rgb(147 51 234) !important;
  color: white !important;
}

.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: rgb(233 213 255) !important;
  color: rgb(147 51 234) !important;
}

.rmdp-week-day {
  color: rgb(107 114 128);
  font-weight: 500;
}

.rmdp-header-values {
  font-weight: 600;
  color: rgb(17 24 39);
}

.rmdp-arrow {
  border: solid rgb(107 114 128);
  border-width: 0 2px 2px 0;
}

.rmdp-arrow-container:hover {
  background-color: rgb(243 244 246);
}

.rmdp-day span {
  font-size: 0.875rem;
  color: rgb(55 65 81);
}

.rmdp-day.rmdp-today span {
  background-color: rgb(233 213 255) !important;
  color: rgb(147 51 234) !important;
}
